# Not yet implemented
- Notebook for ideas and functions related to cleaning the quarterly statements data

In [ ]:
balance = pd.read_csv('./data/raw/balance.csv').convert_dtypes()

Remove duplicates on selected columns

In [ ]:
balance = pd.read_csv('./data/raw/balance.csv').convert_dtypes()
dup_features = [
    "cik", 
    "calendarYear", 
    "totalAssets",
    "totalLiabilities",
    "totalEquity",
    ]
balance_clean = balance.drop_duplicates(subset = dup_features, keep='first')
balance_clean = balance_clean.reset_index(drop=True)

Manualy fix some periods

In [ ]:
mask = balance_clean.period == 'Q'
balance_clean.loc[mask, 'period'] = np.nan
balance_clean['period'] = balance_clean.period.str.replace('Q', '')
balance_clean.period = balance_clean.period.astype(pd.Int64Dtype())

Rename columns

In [ ]:
col_rename = {
    'fillingDate':'filingDate',
    'date':'reportDate',
    'period':'periodAPI',
}
balance_clean = balance_clean.rename(columns=col_rename)

join Balance and SEC admission dataframes to get the form columns to the balance sheet

In [ ]:
# reset_indexes to keep track
balance_clean = balance_clean.reset_index(drop=True)
sec = sec.reset_index(drop=True)

1st. join.
- reportDate, symbol, cik

In [ ]:
joincols = ['reportDate', 'cik']
secols = ['form']
# first join
first_join = balance_clean.merge(
    sec.loc[:, joincols + secols], 
    how='left', 
    on = joincols,
    )
mask = first_join.form.isna()
to_join = first_join[mask]
result_1 = first_join[~mask]
result_1.shape, to_join.shape

((43590, 55), (3841, 55))

2nd join.
- filingDate, symbol, cik

In [ ]:
joincols = ['filingDate', 'cik']
secols = ['form']
to_join = to_join.drop(columns=secols)
# first join
second_join = to_join.merge(
    sec.loc[:, joincols + secols], 
    how='left', 
    on = joincols,
    )
mask = second_join.form.isna()
to_join = second_join[mask]
result_2 = second_join[~mask]
result_2.shape, to_join.shape

((333, 55), (3508, 55))

In [ ]:
balance_clean.shape[0] - sec.shape[0]

2205

missing around 2400 vals, OK

In [ ]:
balance_clean = pd.concat([result_1, second_join])
balance_clean.head(2)

,reportDate,symbol,reportedCurrency,cik,filingDate,acceptedDate,calendarYear,periodAPI,cashAndCashEquivalents,shortTermInvestments,...,totalLiabilitiesAndStockholdersEquity,minorityInterest,totalEquity,totalLiabilitiesAndTotalEquity,totalInvestments,totalDebt,netDebt,link,finalLink,form
0,2021-09-30,MMM,USD,66740,2021-10-26,2021-10-26 14:53:46,2021,3,4878000000.0,855000000.0,...,48208000000.0,70000000.0,14530000000.0,48278000000.0,0.0,19007000000.0,14129000000.0,https://www.sec.gov/Archives/edgar/data/66740/...,https://www.sec.gov/Archives/edgar/data/66740/...,10-Q
1,2021-06-30,MMM,USD,66740,2021-07-27,2021-07-27 14:55:50,2021,2,4695000000.0,805000000.0,...,48239000000.0,68000000.0,14516000000.0,48307000000.0,0.0,19119000000.0,14424000000.0,https://www.sec.gov/Archives/edgar/data/66740/...,https://www.sec.gov/Archives/edgar/data/66740/...,10-Q

EXPLORE: missing values
- Most of them are because the sec submissions API is missing older filings.
    - Checking if there is an issue with my gathering function

DONE
- There are no issues with the function, the problem is some companies changed their symbols and cik in the sec, such as google before 2015 was named GOOGLE .inc and its cik was 1288776

Since we cannot trust the API symbol,year,period nomenclature so we use the K from from the SEC as guidance and from there we expand it in all directions

In [ ]:
# set the column to infer as nan
try:
    balance_clean.insert(0, 'infered_sec', np.nan)
except:
    pass
# sort
balance_clean = balance_clean.sort_values(['symbol','reportDate'])
# do 10 times
for i in range(10):
    # init balance_clean on 4 if the form is a 10K statement
    cond = balance_clean.form.isin(['10-K', '10-K405', '10-KT'])
    balance_clean['infered_sec'] = balance_clean['infered_sec'].mask(cond= cond, other=4)
    # expand values vertically and horizontally
    for n in range(1,5):
        # only overwrite if its a nan
        nullcond = balance_clean.infered_sec.isna()
        # move the 4 within group and make mask
        cond1 = balance_clean.groupby('symbol').infered_sec.shift(n).eq(4)
        # set to value n if shifted mask & nan
        balance_clean['infered_sec'].mask(cond=(cond1 & nullcond), other=n, inplace = True)
        # shift same for the other direction
        cond2 = balance_clean.groupby('symbol').infered_sec.shift(-n).eq(4)
        if n != 4:
            balance_clean['infered_sec'].mask(cond=(nullcond & cond2), other=(4-n), inplace = True)
        else:
            balance_clean['infered_sec'].mask(cond=(nullcond & cond2), other=4, inplace = True)

In [ ]:
balance_clean.infered_sec.isna().sum()

927

Estimar los periodos a partir de la media de periodo, quitar los simbolos en los que ha habido un T y comprobar si hay algun form K con periodo no 4

In [ ]:
dates_processing(periods,'reportDate', 'filingDate')
# get the dictionary containing the circular mean by period and symbol
dict_means_date = grouped_circmean(periods, 'reportDate_yday', low=0, high=365, levels = ['symbol', 'infered_sec'])
infered_period_date = periods.apply(lambda x: infer_period(x['symbol'], x['reportDate_yday'], dict_means_date), axis=1)
dict_means_fillingDate = grouped_circmean(periods, 'filingDate_yday', low=0, high=365, levels = ['symbol', 'infered_sec'])
infered_period_filling_date = periods.apply(lambda x: infer_period(x['symbol'], x['filingDate_yday'], dict_means_fillingDate), axis=1)

In [ ]:
periods['infered_reportDate'] = infered_period_date
periods['infered_filingDate'] = infered_period_filling_date

In [ ]:
cond1 = periods.infered_sec != periods.infered_reportDate
cond2 = periods.infered_sec != periods.infered_filingDate
supercond = cond1 & cond2
subset = periods[supercond]

In [ ]:
subset.symbol.unique()

array(['AAPL', 'ADM', 'AEP', 'APD', 'ATVI', 'BKR', 'BLL', 'BXP', 'CB',
       'CSCO', 'DAL', 'DG', 'GD', 'GPN', 'HCA', 'IT', 'JCI', 'KIM', 'KR',
       'LEN', 'LHX', 'MOS', 'MTB', 'ODFL', 'OKE', 'ROK', 'ROP', 'SEDG',
       'STZ', 'SWK', 'SWKS', 'TTWO', 'UAL', 'VFC', 'WAB'], dtype=object)

If a symbol had a 10-KT form or 10-QT form, it means it had altered its fiscal year, and the period inference method is not significant

In [ ]:
# get all the observations whose form is either 10-KT or 10-QT
mask_form = periods.form.isin(['10-KT', '10-QT'])
# get their symbols
symbols = periods[mask_form].symbol
# remove them from the subset
subset = subset[~subset.symbol.isin(symbols)]

For the remaining subset keep the estimated values

In [ ]:
periods.loc[subset.index,'infered_sec'] = periods.loc[subset.index,'infered_reportDate']

Now that the sec submissions df is mostly clean we join it with the balance sheet. Because all data sources are dirty, we're left joining the balance sheet and consecuently update the resulting DataFrame to minimize the amount of observations considered null because of dirty features.

In [ ]:
balance_clean['reportDate'] = pd.to_datetime(balance_clean['reportDate'])
balance_clean['filingDate'] = pd.to_datetime(balance_clean['filingDate'])

In [ ]:
balance_clean = dates_processing(balance_clean, 'reportDate', 'filingDate')

In [ ]:
periods.columns

Index(['filingDate', 'reportDate', 'symbol', 'cik', 'form', 'infered_sec',
       'reportDate_int', 'reportDate_month', 'reportDate_year',
       'reportDate_yday', 'filingDate_int', 'filingDate_month',
       'filingDate_year', 'filingDate_yday', 'infered_reportDate',
       'infered_filingDate'],
      dtype='object')

In [ ]:
balance_clean.columns

Index(['reportDate', 'symbol', 'reportedCurrency', 'cik', 'filingDate',
       'acceptedDate', 'calendarYear', 'period', 'cashAndCashEquivalents',
       'shortTermInvestments', 'cashAndShortTermInvestments', 'netReceivables',
       'inventory', 'otherCurrentAssets', 'totalCurrentAssets',
       'propertyPlantEquipmentNet', 'goodwill', 'intangibleAssets',
       'goodwillAndIntangibleAssets', 'longTermInvestments', 'taxAssets',
       'otherNonCurrentAssets', 'totalNonCurrentAssets', 'otherAssets',
       'totalAssets', 'accountPayables', 'shortTermDebt', 'taxPayables',
       'deferredRevenue', 'otherCurrentLiabilities', 'totalCurrentLiabilities',
       'longTermDebt', 'deferredRevenueNonCurrent',
       'deferredTaxLiabilitiesNonCurrent', 'otherNonCurrentLiabilities',
       'totalNonCurrentLiabilities', 'otherLiabilities',
       'capitalLeaseObligations', 'totalLiabilities', 'preferredStock',
       'commonStock', 'retainedEarnings',
       'accumulatedOtherComprehensiveIncomeLoss',
       'othertotalStockholdersEquity', 'totalStockholdersEquity',
       'totalLiabilitiesAndStockholdersEquity', 'minorityInterest',
       'totalEquity', 'totalLiabilitiesAndTotalEquity', 'totalInvestments',
       'totalDebt', 'netDebt', 'link', 'finalLink', 'reportDate_int',
       'reportDate_month', 'reportDate_year', 'reportDate_yday',
       'filingDate_int', 'filingDate_month', 'filingDate_year',
       'filingDate_yday'],
      dtype='object')

In [ ]:
balance_clean.shape

(47637, 62)

In [ ]:
(joined_data.infered_sec != joined_data.period).sum()

4927

In [ ]:
joined_data['infered_sec'] = np.nan
joined_data = joined_data.sort_values(['symbol','reportDate'])
# init joined_data on 4 if the form is a 10K statement
cond = joined_data.form.isin(['10-K', '10-K405', '10-KT'])
joined_data['infered_sec'] = joined_data['infered_sec'].mask(cond= cond, other=4)
# depth of 2
for i in range(2):
    # expand values vertically and horizontally
    for n in range(1,5):
        # only overwrite if its a nan
        nullcond = joined_data.infered_sec.isna()
        # move the 4 within group and make mask
        cond1 = joined_data.groupby('symbol').infered_sec.shift(n).eq(4)
        # set to value n if shifted mask & nan
        joined_data['infered_sec'].mask(cond=(cond1 & nullcond), other=n, inplace = True)
        # shift same for the other direction
        cond2 = joined_data.groupby('symbol').infered_sec.shift(-n).eq(4)
        if n != 4:
            joined_data['infered_sec'].mask(cond=(nullcond & cond2), other=(4-n), inplace = True)
        else:
            joined_data['infered_sec'].mask(cond=(nullcond & cond2), other=4, inplace = True)

,reportDate,symbol,reportedCurrency,cik,filingDate,acceptedDate,calendarYear,period,cashAndCashEquivalents,shortTermInvestments,...,reportDate_int,reportDate_month,reportDate_year,reportDate_yday,filingDate_int,filingDate_month,filingDate_year,filingDate_yday,form,infered_sec
33919,2021-09-30,OGN,USD,1821825,2021-11-12,2021-11-12 16:52:11,2021,3,1008000000.0,0.0,...,20210930,9,2021,273,20211112,11,2021,316,10-Q,NaN
33920,2021-06-30,OGN,USD,1821825,2021-08-16,2021-08-16 08:20:13,2021,2,730000000.0,0.0,...,20210630,6,2021,181,20210816,8,2021,228,10-Q,NaN
33921,2021-03-31,OGN,USD,1821825,2021-06-21,2021-06-21 08:16:50,2021,1,141000000.0,0.0,...,20210331,3,2021,90,20210621,6,2021,172,10-Q,NaN
20,1992-12-31,ABMD,USD,815094,1992-12-31,1992-12-31,1993,3,3500000.0,0.0,...,19921231,12,1992,365,19921231,12,1992,365,NaN,NaN
21,1992-09-30,ABMD,USD,815094,1992-09-30,1992-09-30,1993,4,3200000.0,0.0,...,19920930,9,1992,274,19920930,9,1992,274,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,2003-09-30,WRK,USD,1732845,2003-09-30,2003-09-30,2003,4,14173000.0,0.0,...,20030930,9,2003,273,20030930,9,2003,273,NaN,NaN
4033,2003-06-30,WRK,USD,1732845,2003-06-30,2003-06-30,2003,3,8205000.0,0.0,...,20030630,6,2003,181,20030630,6,2003,181,NaN,NaN
4034,2003-03-31,WRK,USD,1732845,2003-03-31,2003-03-31,2003,2,5422000.0,0.0,...,20030331,3,2003,90,20030331,3,2003,90,NaN,NaN
4035,2002-12-31,WRK,USD,1732845,2002-12-31,2002-12-31,2003,1,6803000.0,0.0,...,20021231,12,2002,365,20021231,12,2002,365,NaN,NaN
4067,1992-03-31,ZION,USD,109380,1992-03-31,1992-03-31,1992,2,468100000.0,0.0,...,19920331,3,1992,91,19920331,3,1992,91,NaN,NaN

In [ ]:
fred_daily = df.reset_index()
fred_daily.columns = real_names

In [ ]:
# FRED SERIES
##########################################
# Daily indicators
series_names = ['DGS3MO', 
                'DGS1', 
                'DGS2', 
                'DGS3', 
                'DGS5', 
                'DGS10', 
                'DGS20', 
                'DGS30', 
                'DCOILWTICO', 
                'DCOILBRENTEU', 
                'VIXCLS',
                'GOLDAMGBD228NLBM']
real_names = ['Date',
              'T3m', 
              'T1y', 
              'T2y', 
              'T3y', 
              'T5y', 
              'T10y', 
              'T20y', 
              'T30y',
              'WTI', 
              'BRENT', 
              'VIX', 
              'GOLD']

start = datetime.datetime(1980, 1, 1)
end = datetime.date.today()

for i, name in enumerate(series_names):
    if i == 0:
        df = web.DataReader(name, data_source = 'fred', start=start, end = end)
    else:
        series = web.DataReader(name, data_source = 'fred', start=start, end = end)
        df = pd.concat([df, series], axis = 1)

fred_daily = df.reset_index()
fred_daily.columns = real_names

# Exploration

In [ ]:
cflow = pd.read_csv('../data/raw/cflow_y.csv', index_col = 0)
income = pd.read_csv('../data/raw/income_y.csv', index_col = 0)
balance = pd.read_csv('../data/raw/balance_y.csv', index_col = 0)

## 10K Statements

special interest in period, symbol and calendarYear

In [ ]:
mycols = [
    'period', 
    'symbol', 
    'calendarYear'
    ]
balance[mycols].isna().sum()

period          1
symbol          0
calendarYear    0
dtype: int64

In [ ]:
balance[mycols].nunique()

period            5
symbol          505
calendarYear     38
dtype: int64

duplicate observations??

In [ ]:
# features to find duplicates
dup_features = [
    "symbol", 
    "calendarYear", 
    "totalAssets",
    "totalLiabilities", 
    "totalEquity",
    ]
mask_cols = dup_features + ["date", "fillingDate", "period"]
df_duplicates = check_duplicates(balance, dup_features).loc[:,mask_cols]

In [ ]:
df_duplicates

,symbol,calendarYear,totalAssets,totalLiabilities,totalEquity,date,fillingDate,period
745,AMD,2013,3797000000.0,3382000000.0,415000000.0,2013-03-31,2013-05-06,Q1
746,AMD,2013,3797000000.0,3382000000.0,415000000.0,2013-03-30,2013-05-06,Q1
808,AMD,1997,3426000000.0,1382000000.0,2044000000.0,1997-09-28,1997-11-12,Q3
810,AMD,1997,3426000000.0,1382000000.0,2044000000.0,1997-03-30,1997-05-14,Q1
1011,AES,1996,3622000000.0,2688000000.0,934000000.0,1996-12-31,1996-12-31,Q4
1014,AES,1996,3622000000.0,2688000000.0,934000000.0,1996-03-31,1996-03-31,Q4
2247,MO,2021,48776000000.0,45781000000.0,2995000000.0,2021-03-31,2021-04-29,Q1
2248,MO,2021,48776000000.0,45781000000.0,2995000000.0,2021-03-01,2021-04-29,Q2
2581,AAL,2021,68437000000.0,75874000000.0,-7437000000.0,2021-09-30,2021-10-21,Q3
2582,AAL,2021,68437000000.0,75874000000.0,-7437000000.0,2021-09-03,2021-10-21,Q4
2630,AAL,2009,25754000000.0,28613000000.0,-2859000000.0,2009-10-21,2009-10-21,Q3
2631,AAL,2009,25754000000.0,28613000000.0,-2859000000.0,2009-09-30,2009-10-21,Q3
2635,AAL,2008,26950000000.0,26016000000.0,934000000.0,2008-10-16,2008-10-16,Q3
2636,AAL,2008,26950000000.0,26016000000.0,934000000.0,2008-09-30,2008-10-16,Q3
2638,AAL,2008,28766000000.0,26277000000.0,2489000000.0,2008-03-31,2008-04-18,Q1
2639,AAL,2008,28766000000.0,26277000000.0,2489000000.0,2008-02-20,2008-02-20,Q4
3263,AMP,2021,170726000000.0,165019000000.0,5707000000.0,2021-09-30,2021-11-09,Q3
3265,AMP,2021,170726000000.0,165019000000.0,5707000000.0,2021-03-26,2021-05-10,Q1
8185,BF-B,2020,6350000000.0,3947000000.0,2403000000.0,2020-10-31,2020-12-08,Q2
8186,BF-B,2020,6350000000.0,3947000000.0,2403000000.0,2020-09-01,2020-12-08,Q1
14255,DE,2021,80688000000.0,64955000000.0,15733000000.0,2021-08-20,2021-08-26,Q3
14256,DE,2021,80688000000.0,64955000000.0,15733000000.0,2021-08-01,2021-08-26,Q3
16838,EA,2007,5043000000.0,1165000000.0,3878000000.0,2006-12-31,2007-02-06,Q3
16839,EA,2007,5043000000.0,1165000000.0,3878000000.0,2006-12-30,2006-12-30,Q3
17665,ESS,2006,2459490000.0,1493131000.0,966359000.0,2006-11-07,2006-11-08,Q3
17666,ESS,2006,2459490000.0,1493131000.0,966359000.0,2006-09-30,2006-08-07,Q3
17667,ESS,2006,2328244000.0,1497768000.0,830476000.0,2006-08-04,2006-08-07,Q2
17668,ESS,2006,2328244000.0,1497768000.0,830476000.0,2006-06-30,2006-06-30,Q2
17669,ESS,2006,2296770000.0,1488470000.0,808300000.0,2006-05-10,2006-05-10,Q1
17670,ESS,2006,2296770000.0,1488470000.0,808300000.0,2006-03-31,2006-03-14,Q1
24304,IBM,2014,122646000000.0,105906000000.0,16740000000.0,2014-04-29,2014-04-29,Q1
24305,IBM,2014,122646000000.0,105906000000.0,16740000000.0,2014-03-31,2014-04-29,Q1
26723,KR,2022,48811000000.0,39582000000.0,9229000000.0,2021-05-22,2021-06-25,Q1
26724,KR,2022,48811000000.0,39582000000.0,9229000000.0,2021-03-07,2021-03-07,Q3
36166,PLD,2003,4976264000.0,2212085000.0,2764179000.0,2003-06-30,2003-08-13,Q2
36167,PLD,2003,4976264000.0,2212085000.0,2764179000.0,2003-06-03,2003-08-13,Q2
37027,QCOM,2004,10820000000.0,1156000000.0,9664000000.0,2004-09-30,2004-09-30,Q4
37028,QCOM,2004,10820000000.0,1156000000.0,9664000000.0,2004-09-26,2004-11-03,Q4
37032,QCOM,2003,8822436000.0,1223814000.0,7598622000.0,2003-09-30,2003-09-30,Q4
37033,QCOM,2003,8822436000.0,1223814000.0,7598622000.0,2003-09-28,2003-11-05,Q4
39081,STX,2012,9171000000.0,5706000000.0,3465000000.0,2011-12-31,2012-02-01,Q2
39082,STX,2012,9171000000.0,5706000000.0,3465000000.0,2011-12-30,2012-02-01,Q2
39784,SNA,2003,2138500000.0,1127600000.0,1010900000.0,2004-01-03,2004-01-03,Q4
39785,SNA,2003,2138500000.0,1127600000.0,1010900000.0,2003-12-31,2004-03-16,Q4
44628,VFC,2017,9173728000.0,5529389000.0,3644339000.0,2017-07-01,2017-08-02,Q2
44629,VFC,2017,9173728000.0,5529389000.0,3644339000.0,2017-06-30,2017-08-02,Q1
44630,VFC,2017,9246278000.0,4873221000.0,4373057000.0,2017-04-01,2017-05-10,Q1
44631,VFC,2017,9246278000.0,4873221000.0,4373057000.0,2017-03-31,2017-05-10,Q4
44846,VTRS,2020,31243100000.0,18695200000.0,12547900000.0,2020-09-30,2020-11-10,Q3
44847,VTRS,2020,31243100000.0,18695200000.0,12547900000.0,2020-09-27,2020-11-10,Q3
45326,WAB,2017,6438740000.0,3854369000.0,2584371000.0,2017-07-01,2017-08-03,Q2
45327,WAB,2017,6438740000.0,3854369000.0,2584371000.0,2017-06-30,2017-08-03,Q2
45413,WMT,2022,236581000000.0,151989000000.0,84592000000.0,2021-04-30,2021-06-04,Q1
45414,WMT,2022,236581000000.0,151989000000.0,84592000000.0,2021-03-22,2021-06-04,Q4
47374,ZBRA,2007,1038068000.0,105512000.0,932556000.0,2007-09-30,2007-11-02,Q3
47375,ZBRA,2007,1038068000.0,105512000.0,932556000.0,2007-09-29,2007-11-02,Q3
47633,ZTS,2019,11272000000.0,8594000000.0,2678000000.0,2019-09-30,2019-11-07,Q3
47634,ZTS,2019,11272000000.0,8594000000.0,2678000000.0,2019-08-06,2019-08-06,Q2

In [ ]:
mask = (balance.period.isna()) | (balance.period == 'Q')
balance[mask]

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,cashAndCashEquivalents,shortTermInvestments,...,totalStockholdersEquity,totalLiabilitiesAndStockholdersEquity,minorityInterest,totalEquity,totalLiabilitiesAndTotalEquity,totalInvestments,totalDebt,netDebt,link,finalLink
4794,2010-02-04,ADM,USD,7084,2010-02-08,2010-02-05 19:10:55,2010,Q,1317000000.0,317000000.0,...,14744000000.0,23878000000.0,5987000000.0,20731000000.0,29865000000.0,3661000000.0,732000000.0,-585000000.0,https://www.sec.gov/Archives/edgar/data/7084/0...,https://www.sec.gov/Archives/edgar/data/7084/0...
9479,2001-09-30,CBRE,USD,1138118,2001-11-14,2001-11-14 00:00:00,2001,<NA>,24211000.0,0.0,...,247463000.0,1219638000.0,0.0,247463000.0,1219638000.0,0.0,639664000.0,615453000.0,https://www.sec.gov/Archives/edgar/data/113811...,https://www.sec.gov/Archives/edgar/data/113811...

In [ ]:
print(balance.loc[mask, mask_cols].to_markdown())

|      | symbol   |   calendarYear |   totalAssets |   totalLiabilities |   totalEquity | date       | fillingDate   | period   |
|-----:|:---------|---------------:|--------------:|-------------------:|--------------:|:-----------|:--------------|:---------|
| 4794 | ADM      |           2010 |   2.9865e+10  |        9.134e+09   |   2.0731e+10  | 2010-02-04 | 2010-02-08    | Q        |
| 9479 | CBRE     |           2001 |   1.21964e+09 |        9.72175e+08 |   2.47463e+08 | 2001-09-30 | 2001-11-14    | <NA>     |

Are there any observations where, for a given symbol and year, does not have 4 periods?? First and last year excluded

In [ ]:
# get min and max from each group and filter them out
min_year = balance.groupby('symbol')['calendarYear'].transform('min')
max_year = balance.groupby('symbol')['calendarYear'].transform('max')
filter = (balance.calendarYear == min_year) | (balance.calendarYear == max_year)
# get nunique periods for each calendar year excluding min and max years
aux = balance[~filter].groupby(['symbol', 'calendarYear']).agg({'period': ['nunique']}).reset_index()
aux.columns = ('symbol', 'calendarYear', 'period_nunique')
# show in balance the values which dont have 4 unique periods per year
df_incomplete = aux[aux.period_nunique!=4]
keys = tuple(zip(df_incomplete.symbol, df_incomplete.calendarYear))
# creating the mask
mask = False
for symbol, year in keys:
    mask = mask | ((balance.symbol==symbol) & (balance.calendarYear==year))
# dataframe with all the observations
df_incomplete = balance.loc[mask, :].sort_values(by=['symbol', 'calendarYear', 'period'])

In [ ]:
balance.loc[[902,903,904], mask_cols]

,symbol,calendarYear,totalAssets,totalLiabilities,totalEquity,date,fillingDate,period
902,AAP,2004,2063000000.0,1374000000.0,689000000.0,2004-04-24,2004-05-21,Q1
903,AAP,2004,1983000000.0,1352000000.0,631000000.0,2004-01-03,2004-03-12,Q4
904,AAP,2003,2011000000.0,1414000000.0,597000000.0,2003-10-04,2003-11-06,Q3

In [ ]:
numerical = balance.select_dtypes(include=['int', 'float']).columns
explore_numerical(balance, numerical)

,nulls,nulls_pct,min,max,mean,median,std,var
cik,0,0.0,1.800000e+03,1.841666e+06,6.807326e+05,8.150940e+05,5.171915e+05,2.674871e+11
calendarYear,0,0.0,1.985000e+03,2.022000e+03,2.008682e+03,2.009000e+03,7.862905e+00,6.182528e+01
cashAndCashEquivalents,0,0.0,-3.130000e+07,7.598690e+11,3.144459e+09,4.350220e+08,1.764755e+10,3.114361e+20
shortTermInvestments,0,0.0,-4.284000e+09,4.830690e+11,3.485959e+09,0.000000e+00,2.368985e+10,5.612088e+20
cashAndShortTermInvestments,0,0.0,-2.874000e+09,1.026474e+12,6.630419e+09,5.738955e+08,3.593816e+10,1.291552e+21
netReceivables,0,0.0,-1.418230e+08,4.538370e+11,3.238153e+09,6.843595e+08,1.393233e+10,1.941097e+20
inventory,0,0.0,-1.783500e+07,8.696100e+10,1.143456e+09,2.200000e+08,3.181732e+09,1.012342e+19
otherCurrentAssets,0,0.0,-2.264398e+17,1.499626e+13,-7.962790e+12,2.000500e+08,1.252817e+15,1.569551e+30
totalCurrentAssets,0,0.0,-2.264398e+17,1.499650e+13,-7.952944e+12,2.375700e+09,1.252817e+15,1.569551e+30
propertyPlantEquipmentNet,0,0.0,-1.457000e+07,3.449770e+11,6.631450e+09,1.244388e+09,1.816347e+10,3.299115e+20
goodwill,0,0.0,-1.091000e+09,1.466620e+11,3.086389e+09,2.121505e+08,8.541024e+09,7.294910e+19
intangibleAssets,0,0.0,-2.233000e+09,1.694450e+11,1.971439e+09,1.389470e+08,7.657854e+09,5.864273e+19
goodwillAndIntangibleAssets,0,0.0,-3.990000e+08,3.125760e+11,5.259225e+09,9.315375e+08,1.468395e+10,2.156185e+20
longTermInvestments,0,0.0,-1.311697e+09,1.135924e+12,8.932633e+09,0.000000e+00,5.332724e+10,2.843794e+21
taxAssets,0,0.0,0.000000e+00,3.637400e+10,2.201892e+08,0.000000e+00,1.235962e+09,1.527602e+18
otherNonCurrentAssets,0,0.0,-1.229959e+12,2.264398e+17,7.974890e+12,2.256750e+08,1.252817e+15,1.569551e+30
totalNonCurrentAssets,0,0.0,-1.218035e+12,2.264398e+17,7.993958e+12,4.822900e+09,1.252817e+15,1.569551e+30
otherAssets,0,0.0,0.000000e+00,3.757576e+12,6.670546e+09,0.000000e+00,8.612026e+10,7.416699e+21
totalAssets,0,0.0,-1.808275e+09,3.757576e+12,4.676540e+10,1.011598e+10,1.753216e+11,3.073766e+22
accountPayables,0,0.0,-3.473100e+07,3.581880e+11,2.295362e+09,2.974395e+08,1.245574e+10,1.551456e+20
shortTermDebt,0,0.0,-6.786000e+09,5.032040e+11,1.762890e+09,1.040000e+08,9.967588e+09,9.935281e+19
taxPayables,0,0.0,-2.231000e+07,1.565460e+11,1.138446e+08,0.000000e+00,1.546491e+09,2.391635e+18
deferredRevenue,0,0.0,-2.360000e+09,1.182050e+12,4.702407e+08,0.000000e+00,8.683408e+09,7.540157e+19
otherCurrentLiabilities,0,0.0,-1.177565e+12,2.273042e+12,1.943079e+10,6.835000e+08,1.167488e+11,1.363029e+22
totalCurrentLiabilities,0,0.0,0.000000e+00,2.578825e+12,2.380606e+10,1.814178e+09,1.259532e+11,1.586421e+22
longTermDebt,0,0.0,-5.761100e+07,5.116530e+11,8.136666e+09,2.024933e+09,2.650016e+10,7.022583e+20
deferredRevenueNonCurrent,0,0.0,0.000000e+00,2.354900e+10,8.708173e+07,0.000000e+00,7.901139e+08,6.242800e+17
deferredTaxLiabilitiesNonCurrent,0,0.0,-8.992000e+09,3.916340e+11,1.104190e+09,9.064000e+06,5.605802e+09,3.142501e+19
otherNonCurrentLiabilities,0,0.0,-3.908000e+11,2.033420e+11,2.071529e+09,3.009240e+08,1.008948e+10,1.017976e+20
totalNonCurrentLiabilities,0,0.0,-1.807700e+10,5.116530e+11,1.102369e+10,2.893754e+09,3.059625e+10,9.361304e+20
otherLiabilities,0,0.0,0.000000e+00,3.467535e+12,3.880815e+09,0.000000e+00,6.337929e+10,4.016934e+21
capitalLeaseObligations,0,0.0,0.000000e+00,3.309400e+10,1.399606e+08,0.000000e+00,1.118626e+09,1.251324e+18
totalLiabilities,0,0.0,-5.930000e+09,3.467535e+12,3.771228e+10,6.079000e+09,1.586473e+11,2.516897e+22
preferredStock,0,0.0,0.000000e+00,7.430100e+10,1.837335e+08,0.000000e+00,1.832990e+09,3.359852e+18
commonStock,0,0.0,-4.340100e+10,1.581570e+11,1.148659e+09,4.801000e+06,6.656887e+09,4.431415e+19
retainedEarnings,0,0.0,-3.407600e+10,4.947750e+11,7.456887e+09,1.757268e+09,2.294137e+10,5.263065e+20
accumulatedOtherComprehensiveIncomeLoss,0,0.0,-1.026420e+11,5.857100e+10,-1.014017e+09,-8.090000e+07,4.374857e+09,1.913938e+19
othertotalStockholdersEquity,0,0.0,-3.634644e+11,1.488290e+11,2.263868e+09,7.031900e+08,1.279823e+10,1.637947e+20
totalStockholdersEquity,0,0.0,-2.556000e+10,4.724800e+11,9.873659e+09,3.336378e+09,2.384781e+10,5.687182e+20
totalLiabilitiesAndStockholdersEquity,0,0.0,-2.598300e+10,3.757576e+12,4.758771e+10,1.031610e+10,1.765799e+11,3.118047e+22
minorityInterest,0,0.0,-1.907432e+12,3.275415e+11,-8.223028e+08,0.000000e+00,2.051653e+10,4.209279e+20
totalEquity,0,0.0,-1.720214e+12,4.810750e+11,9.053127e+09,3.241000e+09,2.956753e+10,8.742386e+20
totalLiabilitiesAndTotalEquity,0,0.0,-1.808275e+09,3.757576e+12,4.676540e+10,1.011598e+10,1.753216e+11,3.073766e+22
totalInvestments,0,0.0,-4.284000e+09,1.411282e+12,8.887278e+09,0.000000e+00,6.120285e+10,3.745789e+21
totalDebt,0,0.0,-4.392000e+06,6.751360e+11,1.010660e+10,2.446168e+09,3.421792e+10,1.170866e+21
netDebt,0,0.0,-2.849530e+11,6.433500e+11,6.962140e+09,1.464792e+09,2.613606e+10,6.830938e+20

### Period Inconsistencies
1. Misnomer periods
<br>

|      | symbol   |   calendarYear |   totalAssets |   totalLiabilities |   totalEquity | date       | fillingDate   | period   |
|-----:|:---------|---------------:|--------------:|-------------------:|--------------:|:-----------|:--------------|:---------|
| 4794 | ADM      |           2010 |   2.9865e+10  |        9.134e+09   |   2.0731e+10  | 2010-02-04 | 2010-02-08    | Q        |
| 9479 | CBRE     |           2001 |   1.21964e+09 |        9.72175e+08 |   2.47463e+08 | 2001-09-30 | 2001-11-14    | <NA>     |

2. Periods carry to the next year as in index=903
<br>

|     | symbol   |   calendarYear |   totalAssets |   totalLiabilities |   totalEquity | date                | fillingDate         | period   |
|----:|:---------|---------------:|--------------:|-------------------:|--------------:|:--------------------|:--------------------|:---------|
| 902 | AAP      |           2004 |     2.063e+09 |          1.374e+09 |      6.89e+08 | 2004-04-24 00:00:00 | 2004-05-21 00:00:00 | Q1       |
| 903 | AAP      |           2004 |     1.983e+09 |          1.352e+09 |      6.31e+08 | 2004-01-03 00:00:00 | 2004-03-12 00:00:00 | Q4       |
| 904 | AAP      |           2003 |     2.011e+09 |          1.414e+09 |      5.97e+08 | 2003-10-04 00:00:00 | 2003-11-06 00:00:00 | Q3       |

2. Duplicates rows with different periods
<br>

|      | symbol   |   calendarYear |   totalAssets |   totalLiabilities |   totalEquity | date                | fillingDate         | period   |
|-----:|:---------|---------------:|--------------:|-------------------:|--------------:|:--------------------|:--------------------|:---------|
| 2581 | AAL      |           2021 |    6.8437e+10 |         7.5874e+10 |    -7.437e+09 | 2021-09-30 00:00:00 | 2021-10-21 00:00:00 | Q3       |
| 2582 | AAL      |           2021 |    6.8437e+10 |         7.5874e+10 |    -7.437e+09 | 2021-09-03 00:00:00 | 2021-10-21 00:00:00 | Q4       |